#container-alignment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-principal {
  width: 95%;
  padding-left: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  gap: 3px; 
  /* background-color: #fff; */
}

.image-blocks {
  height: 300px;
  width: calc(
    (100% / 3) - 20px
  );
  position: relative;
  display: flex;
}

.photo-overlay {
  position: relative;
  height: 100%;
  width: 100%;
}

.photo-overlay img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 0;
}

.overlay-content {
  display: none; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.overlay-content button {
  background: transparent;
  border: none;
  color: white;
  font-size: 30px;
  margin: 15px;
  cursor: pointer;
}

.photo-overlay:hover .overlay-content {
  display: flex; 
}

.photo-overlay:hover img {
  opacity: 0.6;
}