#container-alignment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-principal {
  width: 95%;
  padding-left: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  gap: 3px; 
  background-color: #fff;
}

.image-blocks {
  height: 300px;
  width: calc(
    (100% / 3) - 20px
  );
}

.image-blocks img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 0;
}