#homePage {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
  padding: 20px 50px;
}

.section-bio{
  display: grid;
  grid-row: 2;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-info h2 {
  font-size: 28px;
  font-weight: 400;
  margin-right: 20px;
}

.edit-profile-btn {
  padding: 5px 16px;
  border: 1px solid #dbdbdb;
  background-color: transparent;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.bio-options {
  padding: 5px 16px;
  border: 1px solid #dbdbdb;
  background-color: transparent;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.settings-icon {
  font-size: 24px;
  cursor: pointer;
}

.profile-info {
  display: flex;
  gap: 20px;
  font-size: 16px;
}

.profile-info div {
  font-weight: 400;
}

.profile-info div strong {
  font-weight: bold;
}

.bio-descricao {
  font-size: 14px;
  line-height: 1.5;
}
