#profilePage {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  padding: 50px;
}

/* Profile */
.avatar-profile {
  width: 200px;
  height: 200px;
  border: 2px solid;
  border-top-color: #fe045e;
  border-right-color: #fe223d;
  border-left-color: #c703cf;
  border-bottom-color: #8f23f5;
  border-radius: 50%;
  justify-self: end;
}

.avatar-profile img {
object-fit: cover;
height: 100%;
width: 100%;
border-radius: 50%;
}

.section-bio{
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(2, 1fr);
}

.bio {
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 20px;
}

.bio p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
}

.user-info {
  display: flex;
  gap: 20px;
}

.user-info h2 {
  font-size: 28px;
  font-weight: 400;
}

.edit-profile-btn, .bio-options {
  padding: 5px 20px;
  border: 0px;
  background-color:  #f0f0f0;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.edit-profile-btn:hover, .bio-options:hover {
  background-color: #e0e0e0; 
}

.settings-icon {
  font-size: 24px;
  cursor: pointer;
}

.profile-info {
  display: flex;
  gap: 20px;
  font-size: 16px;
}

.profile-info div {
  font-weight: 400;
}

.profile-info div strong {
  font-weight: bold;
}

.barra-navegacao {
  display: flex;
  border-top: 1px solid #4F4F4F;
  gap: 30px;
  color: #555555;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  height: 50px;
  padding-left: 210px;
  cursor: pointer;
}

/* Feed */

#container-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 180px;
}

#container-profile {
  width: 95%;
  padding-left: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; 
  margin-top: 0px;
  gap: 4px;
}

.image-blocks {
  height: 300px;
  width: calc((100% / 3) - 6px); 
  position: relative;
  display: flex; 
}

.photo-overlay {
  position: relative;
  height: 100%;
  width: 100%;
}

.photo-overlay img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
  transition: opacity 0.3s ease; 
}

.overlay-content {
  display: none; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.overlay-content button {
  background: transparent;
  border: none;
  color: white;
  font-size: 30px;
  margin: 15px;
  cursor: pointer;
}

.photo-overlay:hover .overlay-content {
  display: flex; 
}

.photo-overlay:hover img {
  opacity: 0.6;
}